DCAP_RISCZERO_IMAGE_ID=0xcdb9cca404ceea63007f5a11bcf11d9cb6ca87225dd1c9fdf5a316df9c2ca5dc
DCAP_SP1_VKEY=0x00abe184e81fa8bfe9239ed1b65c44f0c537232671726714e47b3ec34ab5a2b6
DCAP_PICO_RISCV_VKEY=0x005d101ee70878fa39780af6665162cfd3ebe8e9c2b28eb9e9aa65b3890ac876

# cast wallet address --keystores keystore/dcap_prod
OWNER=0xDf841B239bE7a6b37366005107069b7410da4Ff9

ETHERSCAN_API_KEY=
ETHERSCAN_API_VERSION=V2

CHAINS="ATA_SEPOLIA,SEPOLIA,OP_SEPOLIA,ARBITRUM_SEPOLIA,BASE_SEPOLIA,WORLD_SEPOLIA,AVALANCHE_C_FUJI,POLYGON_AMOY,BSC_TESTNET,HOODI_TESTNET,UNICHAIN_SEPOLIA,HYPEREVM_TESTNET,ATA,ETHEREUM,OP,ARBITRUM,BASE,WORLD,POLYGON,BSC,AVALANCHE_C,UNICHAIN,HYPEREVM"

ATA_SEPOLIA_RPC_URL=""
SEPOLIA_RPC_URL=""
OP_SEPOLIA_RPC_URL=""
ARBITRUM_SEPOLIA_RPC_URL=""
BASE_SEPOLIA_RPC_URL=""
WORLD_SEPOLIA_RPC_URL=""
AVALANCHE_C_FUJI_RPC_URL=""
POLYGON_AMOY_RPC_URL=""
BSC_TESTNET_RPC_URL=""
HOODI_TESTNET_RPC_URL=""
UNICHAIN_SEPOLIA_RPC_URL=""

ATA_RPC_URL=""
ETHEREUM_RPC_URL=""
OP_RPC_URL=""
ARBITRUM_RPC_URL=""
BASE_RPC_URL=""
WORLD_RPC_URL=""
POLYGON_RPC_URL=""
BSC_RPC_URL=""
AVALANCHE_C_RPC_URL=""
