[profile.default]
src = 'contracts'
out = 'out'
libs = ['lib']
script = 'forge-script'
test = 'forge-test'
cache_path  = 'cache_forge'
fs_permissions = [{ access = "read-write", path = "./"}]
remappings = [
    "solady/=lib/automata-on-chain-pccs/lib/solady/src/",
    "p256-verifier/=lib/automata-on-chain-pccs/lib/p256-verifier/src/",
    "@automata-network/on-chain-pccs/=lib/automata-on-chain-pccs/src/",
    "risc0/=lib/risc0-ethereum/contracts/src/",
    # foundry is not able to detect this particular remapping for some reason...
    "openzeppelin/=lib/risc0-ethereum/lib/openzeppelin-contracts/",
    "@sp1-contracts/=lib/sp1-contracts/contracts/src/"
]
solc = "0.8.27"
optimizer = true
optimizer_runs = 200

# Useful link: https://github.com/foundry-rs/foundry/issues/3507
viaIR = true
evm_version = "paris"

ffi = true

[etherscan]
base_sepolia = { key = "${ETHERSCAN_API_KEY}" }
hoodi = { key = "${ETHERSCAN_API_KEY}" }
sepolia = { key = "${ETHERSCAN_API_KEY}" }
optimism_sepolia = { key = "${ETHERSCAN_API_KEY}" }
arbitrum_sepolia = { key = "${ETHERSCAN_API_KEY}" }
world_sepolia = { key = "${ETHERSCAN_API_KEY}" }
bsc_testnet = { key = "${ETHERSCAN_API_KEY}" }
polygon_amoy = { key = "${ETHERSCAN_API_KEY}", chain = 80002 }
unichain_sepolia = { key = "${ETHERSCAN_API_KEY}", chain = 1301 }
mainnet = { key = "${ETHERSCAN_API_KEY}" }
base = { key = "${ETHERSCAN_API_KEY}" }
optimism = { key = "${ETHERSCAN_API_KEY}" }
arbitrum = { key = "${ETHERSCAN_API_KEY}" }
world = { key = "${ETHERSCAN_API_KEY}" }
bsc = { key = "${ETHERSCAN_API_KEY}" }
polygon_pos = { key = "${ETHERSCAN_API_KEY}", chain = 137 }